body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 99%;
  height: 96vh;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  text-align: center;
  background: linear-gradient(to right, red, blue);
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0 0 60px rgba(255, 0, 0, 0.438);
  animation: anime 1s infinite alternate;
}
@keyframes anime{
    100%{
        text-shadow: 0 0 60px rgba(0, 0, 255, 0.438);
    }
}